<div class="col-md-12 bottom-buffer">
    <div class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-bell"></span> Patient Alert Settings</div>

        <div class="panel-body">

            <p>Please configure minimum and maximum thresholds for this patient's activity and heart rate data.
                You will receive alerts if the patient's data deviates from this range.
            </p>

            <div class="form-group">

                <div class="col-md-3 bottom-buffer">
                    <label for="minHR">Minimum Heart Rate</label>
                    <div class="input-group">
                      <input value="{{ config.minHR["value"] }}" type="number" min="30" max="250" step="5" class="form-control" id="minHR" placeholder="e.g. 55" aria-describedby="minHR-addon">
                      <span class="input-group-addon" id="minHR-addon"> BPM</span>
                    </div>
                </div>

                <div class="col-md-3 bottom-buffer">
                    <label for="minHR-time">Min HR - Time Interval</label>
                    <div class="input-group">
                      <input value="{{ config.minHR["window"] }}" type="number" min="1" max="1000" step="5" class="form-control" id="minHR-time" placeholder="10 min" aria-describedby="minHR-addon">
                      <span class="input-group-addon" id="minHR-addon"> minutes</span>
                    </div>
                </div>

                <div class="col-md-3 bottom-buffer">
                    <label for="maxHR">Maximum Heart Rate</label>
                    <div class="input-group">
                      <input value="{{ config.maxHR["value"] }}" type="number" min="30" max="250" step="5" class="form-control" id="maxHR" placeholder="e.g. 150" aria-describedby="maxHR-addon">
                      <span class="input-group-addon" id="maxHR-addon"> BPM</span>
                    </div>
                </div>

                <div class="col-md-3 bottom-buffer">
                    <label for="maxHR-time">Max HR - Time Interval</label>
                    <div class="input-group">
                      <input value="{{ config.maxHR["window"] }}" type="number" min="1" max="1000" step="5" class="form-control" id="maxHR-time" placeholder="15 min" aria-describedby="minHR-addon">
                      <span class="input-group-addon" id="minHR-addon"> minutes</span>
                    </div>
                </div>

                <hr style="width: 100%; color: #337AB7; height: 1px; background-color:#337AB7;" />

                <div class="col-md-3 bottom-buffer">
                    <label for="minSteps">Minimum Step Count</label>
                    <div class="input-group">
                      <input value="{{ config.minSteps["value"] }}" type="number" min="0" step="50" class="form-control" id="minSteps" placeholder="e.g. 500" aria-describedby="minSteps-addon">
                      <span class="input-group-addon" id="minSteps-addon"> steps</span>
                    </div>
                </div>

                <div class="col-md-3 bottom-buffer">
                    <label for="minSteps-time">Min Steps - Time Interval</label>
                    <div class="input-group">
                      <input value="{{ config.minSteps["window"] }}" type="number" min="1" max="1000" step="5" class="form-control" id="minSteps-time" placeholder="15 min" aria-describedby="minHR-addon">
                      <span class="input-group-addon" id="minHR-addon"> minutes</span>
                    </div>
                </div>

                <div class="col-md-3 bottom-buffer">
                    <label for="maxSteps">Maximum Step Count</label>
                    <div class="input-group">
                      <input value="{{ config.maxSteps["value"] }}" type="number" min="0" step="50" class="form-control" id="maxSteps" placeholder="e.g. 10000" aria-describedby="maxSteps-addon">
                      <span class="input-group-addon" id="maxSteps-addon"> steps</span>
                    </div>
                </div>

                <div class="col-md-3 bottom-buffer">
                    <label for="maxSteps-time">Min Steps - Time Interval</label>
                    <div class="input-group">
                      <input value="{{ config.maxSteps["window"] }}" type="number" min="1" max="1000" step="5" class="form-control" id="maxSteps-time" placeholder="10 min" aria-describedby="minHR-addon">
                      <span class="input-group-addon" id="minHR-addon"> minutes</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <button class="btn btn-success" type="button" id="submit-settings">
                    <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
                        Save Settings
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $('button#submit-settings').click(function() {

        var minHR = $( "input#minHR" ).val();
        var maxHR = $( "input#maxHR" ).val();
        var minHR_time = $( "input#minHR-time" ).val();
        var maxHR_time = $( "input#maxHR-time" ).val();

        var minSteps = $( "input#minSteps" ).val();
        var maxSteps = $( "input#maxSteps" ).val();
        var minSteps_time = $( "input#minSteps-time" ).val();
        var maxSteps_time = $( "input#maxSteps-time" ).val();

        var data = {
            'slug'  : "{{ patient.slug }}",
            'minHR' : $( "input#minHR" ).val(),
            'maxHR' : $( "input#maxHR" ).val(),
            'minHR-time' : $( "input#minHR-time" ).val(),
            'maxHR-time' : $( "input#maxHR-time" ).val(),
            'minSteps' : $( "input#minSteps" ).val(),
            'maxSteps' : $( "input#maxSteps" ).val(),
            'minSteps-time' : $( "input#minSteps-time" ).val(),
            'maxSteps-time' : $( "input#maxSteps-time" ).val()
        };

        $.ajax({
            type: "POST",
            url: "/update-config",
            data: data,
            success: function(resp) {
                if (resp.status == 200) {
                    $.notify({
                        // options
                        message: 'Alert settings successfully updated!',
                        icon: 'glyphicon glyphicon-ok',
                    },{
                        // settings
                        type: 'success',
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        animate: {
                            enter: 'animated fadeInDown',
                            exit: 'animated fadeOutUp'
                        },
                        delay: 3000
                    });
                } else {
                    console.log("Error in updating Alert settings for patient.")
                }
            },
            error: function() {
                console.log("Error in updating Alert settings for patient.")
            }
        });
    });
</script>
