{% for patient in patients %}

    <div class="panel panel-primary container-fluid">
        <div class="panel-heading row">
            <div class="col-xs-8">
                <h3 class="panel-title">{{ patient.first_name }} {{ patient.last_name }}</h3>
            </div>
            <div class="col-xs-4">
                <h3 class="panel-title">
                    {% if alert_counts[patient.id] > 0 %}
                        <span class="label label-danger pull-right">{{ alert_counts[patient.id] }} New Alerts</span>
                    {% else %}
                        <span class="label label-success pull-right">No New Alerts</span>
                    {% endif %}
                </h3>
            </div>

        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-8">
                    <div><strong>Unread Alerts:</strong> <span class="badge">{{ alert_counts[patient.id] }}</span></div>
                    <div><strong>Last Data Fetch:</strong> {{ fetch_dates[loop.index0] }}</div>
                    <div><strong>Patient Since:</strong> {{ patient.date_joined.strftime('%m/%d/%Y') }} </div>
                </div>

                <div class="col-md-4">
                    </br>
                    <div class="pull-right">
                        <a class="btn btn-default" href="mailto:{{ patient.email }}">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            Email Patient
                        </a>
                        <a class="btn btn-primary" href="{{ url_for('patient_dashboard.patient_profile', slug=patient.slug) }}">
                            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                            View Profile
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endfor %}
