<div class="col-md-6">
    <div class="panel panel-primary">
        <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
        <link href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}" rel="stylesheet">

        <div class="panel-heading"><span class="glyphicon glyphicon-signal"></span> Data Export</div>
        <div class="panel-body">

            <p>Select a date range below for the desired data interval.</p>

            <div class="form-group">
                <div class="input-group date">
                    <input placeholder="Start Date" type="text" class="form-control" id="startDate">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group date">
                    <input placeholder="End Date" type="text" class="form-control" id="endDate">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>

            <button class="btn btn-primary" type="button" id="submit-export">
                <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
                Export data
            </button>
        </div>
    </div>
</div>