<!-- detail.html - Partial view for properties on each patient -->

{% extends "base.html" %}

{% block title %}Patient Detail{% endblock %}

{% block page_header %}
    </br></br>
    <div class="page-header">
        <h1>{{ patient.first_name }} {{ patient.last_name }}</h1>
    </div>
    <style type="text/css">
        p {
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    </style>
{% endblock %}


{% block content %}

    <script src="{{ url_for('static', filename='js/vis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/FitBitGraphing.js') }}"></script>
    <link href="{{ url_for('static', filename='css/vis.css') }}" rel="stylesheet" type="text/css"/>

    {# This link makes a file in export_data directory. #}
    <a href="{{ patient.slug }}/export">EXPORT</a>

    <h2>Heart Rate Data</h2>
    <div class="row">
        <div class="col-md-11">
            <h4><span class="label label-success">Resting Heart Rate Average:</span></h4>

            <p>{{ resting }}</p>
        </div>
    </div>
    <div id="HR_visualization"></div>
    <br>
    <h2>Activity Data</h2>
    <div id="STEP_visualization"></div>

    {# Populate the graph #}
    <script type="text/javascript">

        // Receive heartRateData from server-side into client-side JS object.
        var heartRateData = {{ HRdata | tojson }};
        var averageHeartRate = {{ HRaverage | tojson }};
        var stepsData = {{ StepsData | tojson }};
        var start = "{{ start }}";
        var end = "{{ end }}";

        FitBitGraphing(heartRateData, averageHeartRate, stepsData, start, end);


    </script>

{% endblock %}