<!-- profile.html - Partial view for properties on each patient -->

{% extends "base.html" %}
{% block title %}Patient Profile{% endblock %}
{% block page_header %}

    <div class="page-header">
        <h1>{{ patient.first_name }} {{ patient.last_name }}
            <small class="text-muted half-size">Patient Since {{ patient.date_joined.strftime('%m/%d/%Y') }}</small>
        </h1>
    </div>
    <style type="text/css">
        p {
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    </style>
{% endblock %}


{% block content %}

    <script src="{{ url_for('static', filename='js/vis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/FitBitGraphing.js') }}"></script>
    <link href="{{ url_for('static', filename='css/vis.css') }}" rel="stylesheet" type="text/css"/>

    {% include "patient_alerts_partial.html" %}

    <!-- Navigation tabs -->
    <ul class="nav nav-tabs" id="myTab" data-tabs="tabs">
        <li class="active"><a href="#graphs" data-toggle="tab">Graphs</a></li>
        <li><a href="#notes" data-toggle="tab">Notes</a></li>
        <li><a href="#config" data-toggle="tab">Settings</a></li>
    </ul>


    <!-- 1. GRAPHING TAB CONTENT -->
    <div class="tab-content top-buffer">

        <div class="tab-pane active" id="graphs">
            <h3>Heart Rate History <small>bpm / time</small></h3>
            <div class="row">
                <div class="col-md-11">
                    <h4><span class="label label-primary">Average Resting Heart Rate:</span> <span class="badge">{{ resting }}</span></h4>
                </div>
            </div>
            <div class="top-buffer" id="HR_visualization"></div>
            <br>
            <h3>Activity History <small># steps / time</small></h3>
            <div class="bottom-buffer" id="STEP_visualization"></div>
        </div>

        <!-- 2. PATIENT NOTES CONTENT -->
        <div class="tab-pane" id="notes">
            <form>
                <div class="form-group">
                    <label for="comment">Patient Notes:</label>
                    <textarea placeholder="You can add notes to this patient's file over time." class="form-control" rows="5" id="comment"></textarea>
                </div>
                <button id="submit" class="btn btn-success">Save</button>
            </form>
        </div>

        <!-- 3. SETTINGS TAB CONTENT (Alert Config, Remove Patient & Export Buttons) -->
        <div class="tab-pane" id="config">
            <a href="{{ patient.slug }}/export" class="btn btn-primary" href="">
                <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
                Export Patient Data
            </a>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Remove Patient
            </button>

            </br></br>
            <p><strong>TODO: FORM HERE TO CREATE & EDIT "PatientConfig" settings</strong></p>
        </div>

    </div> <!-- /tab-content -->

    {% include "remove_patient_modal.html" %}

    {# Populate the graph #}
    <script type="text/javascript">
        // Receive heartRateData from server-side into client-side JS object.
        var heartRateData = {{ HRdata | tojson }};
        var averageHeartRate = {{ HRaverage | tojson }};
        var stepsData = {{ StepsData | tojson }};
        var start = "{{ start }}";
        var end = "{{ end }}";

        FitBitGraphing(heartRateData, averageHeartRate, stepsData, start, end);
    </script>

{% endblock %}