<!-- profile.html - Partial view for properties on each patient -->

{% extends "base.html" %}
{% block title %}Patient Profile{% endblock %}
{% block page_header %}

    <div class="page-header">
        <h1>{{ patient.first_name }} {{ patient.last_name }}
            <small class="text-muted half-size">Patient Since {{ patient.date_joined.strftime('%m/%d/%Y') }}</small>
        </h1>
    </div>
    <style type="text/css">
        p {
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    </style>
{% endblock %}


{% block content %}

    <script src="{{ url_for('static', filename='js/vis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/FitBitGraphing.js') }}"></script>
    <link href="{{ url_for('static', filename='css/vis.css') }}" rel="stylesheet" type="text/css"/>

    <div class="row bottom-buffer">
        <div class="col-md-6">
            <h4><span class="label label-primary">Lifetime Average Resting Heart Rate:</span> <span class="badge">{{ resting }}</span></h4>
            <h4><span class="label label-primary">Date Last Worn:</span> <span class="badge">{{ last_worn }}</span></h4>
        </div>
        <div class="col-md-6">
            <h4><span class="label label-primary">Steps Average:</span> <span class="badge">{{ patient.steps_average() }}</span></h4>
            <h4><span class="label label-primary">Steps Today:</span> <span class="badge">{{ patient.steps_today() }}</span></h4>
        </div>
    </div>

    {% include "patient_alerts_partial.html" %}

    <!-- Navigation tabs -->
    <ul class="nav nav-tabs" id="myTab" data-tabs="tabs">
        <li class="active"><a href="#graphs" data-toggle="tab">Graphs</a></li>
        <li><a href="#notes" data-toggle="tab">Notes</a></li>
        <li><a href="#config" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- 1. GRAPHING TAB CONTENT -->
    <div class="tab-content top-buffer">

        <div class="tab-pane active" id="graphs">
            <h3>Heart Rate History <small>bpm / time</small></h3>
            <button class="btn btn-default" id="toggle-real-HR"><span class="glyphicon glyphicon-stats"></span> Toggle Raw Data</button>
            <button class="btn btn-default" id="toggle-smooth-HR"><span class="glyphicon glyphicon-signal"></span> Toggle Smoothed Data</button>
            <div class="top-buffer" id="HR_visualization"></div>
            <br>
            <h3>Activity History <small># steps / time</small></h3>
            <div class="bottom-buffer" id="STEP_visualization"></div>
        </div>


        <!-- 2. PATIENT NOTES CONTENT -->
        {% include "patients/patient_notes_pane.html" %}


        <!-- 3. SETTINGS TAB CONTENT (Alert Config, Remove Patient & Export Buttons) -->
        <div class="tab-pane" id="config">

            <p><strong>TODO: FORM HERE TO CREATE & EDIT "PatientConfig" settings</strong></p>

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
                    <link href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}" rel="stylesheet">

                    <div class="panel-heading"><span class="glyphicon glyphicon-signal"></span> Data Export</div>
                    <div class="panel-body">Select a date range below for the desired data interval.
                        </br></br>

                        <div class="form-group">
                            <div class="input-group date">
                                <input placeholder="Start Date" type="text" class="form-control" id="startDate">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group date">
                                <input placeholder="End Date" type="text" class="form-control" id="endDate">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="button" id="submit-export">
                            <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
                            Export data
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading"><span class="glyphicon glyphicon-danger"></span> Remove Patient</div>
                    <div class="panel-body">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Remove Patient from My Dashboard
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div> <!-- /tab-content -->

    {% include "remove_patient_modal.html" %}


    <!-- Date picker for exporting data -->
    <script type="text/javascript">
        $('.input-group.date').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            clearBtn: true
        });

        $('#submit-export').click(function() {
            var begin = $( "input#startDate" ).val();
            var end = $( "input#startDate" ).val();
            console.log("Begin: " + begin);
            console.log("End: " + end);
            window.location = '/dashboard/' + "{{ patient.id }}" + '/export/' + begin + '/' + end;
        });
    </script>


    {# Populate the graph #}
    <script type="text/javascript">
        // Receive heartRateData from server-side into client-side JS object.
        var heartRateData = {{ HRdata | tojson }};
        var averageHeartRate = {{ HRaverage | tojson }};
        var stepsData = {{ StepsData | tojson }};
        var start = "{{ start }}";
        var end = "{{ end }}";

        FitBitGraphing(heartRateData, averageHeartRate, stepsData, start, end);
    </script>

{% endblock %}