/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
}

.navbar-inverse .navbar-brand {
    color: #eeeeee;
    font-size: 20px;
}

.top-buffer { margin-top:20px; }

.bottom-buffer { margin-bottom:20px; }
