{% extends "base-bland.html" %}

<!-- Partial view for 'User Account Confirmed' -->

{% block title %}Account Confirmed{% endblock %}

{% block content %}

    <div class="container">
        <div class="page-header">
          <h1><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Account Confirmed</h1>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 column">
                <h4>Thank you, {{ name }}. Your account is now active.</h4>
                </br>
                <h4>You can now <a href="../">login here.</a></h4>
            </div>
        </div>
    </div>

{% endblock %}

