<div class="modal fade" id="pwModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <p>Please enter your current password along with your desired new password.</p>

                <div class="alert alert-warning" role="alert" style="display:none;"></div>

                <div>{{ render_field(password_form.current_password) }}</div>
                <div>{{ render_field(password_form.new_password) }}</div>
                <div>{{ render_field(password_form.new_password_confirm) }}</div>
            </div>
            <div class="modal-footer">
                <button id="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- AJAX for 'Change Password' Form -->
<script>
    $(function() {
        $("button#change-pwd").click(function() {
            // Hide warning and clear out fields by default
            $(".alert-warning").hide();
            $(".modal-content").find("input").val("");
        });
    });

    $(function() {
        $("button#submit").click(function(){

            var formData = {
                'current'       : $('#current_password').val(),
                'new'           : $('#new_password').val(),
                'new_confirm'   : $('#new_password_confirm').val()
            };

            $.ajax({
                type: "POST",
                url: "/change-password",
                data: formData,
                success: function(msg){
                    if (msg != "success") {
                        $(".alert-warning").html(msg);
                        $(".alert-warning").show();
                    } else {
                        $("#pwModal").modal('hide');
                        $(".pw-success").html("Your password has been successfully changed.");
                        $(".pw-success").show();
                    }
                },
                error: function(){
                    $(".alert-warning").html("An error occurred, please try again later.");
                }
            });
        });
    });
</script>
