<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Recover - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sticky-footer.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Recover</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-btn">
                        <a href="/dashboard" class="btn btn-success"><span class="glyphicon glyphicon-th-list"></span> {{ user.username }}'s dashboard</a>
                    </p></li>
                </ul>
            {% else %}
                <form class="navbar-form navbar-right" action="/login" method="POST">
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Physician username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            {% endif %}

        </div><!--/.navbar-collapse -->
    </div>
</nav>

{% include "flash_partial.html" %}

<div class="jumbotron">
    <div class="container">
        <h1>Recover smarter.</h1>
        <p>This is a web app for monitoring the real-time progress of patients recovering from a cardiovascular operation. Register an account to get started.</p>
        <p><a class="btn btn-primary btn-lg" href="/register" role="button">Create an account &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Gain Insights</h2>
            <p>View the progress of each patient's customized recovery plan using rich tools. You can adjust each patient's recovery goals instantly as you see fit.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Respond Quicker</h2>
            <p>Rather than waiting for a call to schedule an appointment, elect to be notified immediately if the patient's data meets certain predefined conditions.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Bigger Picture</h2>
            <p>With around-the-clock data collection of both movement and heart rate activity, you can obtain a comprehensive understanding of a patient's recovery.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

</div> <!-- /container -->

<div class="footer">
    <div class="foot-container">
        <p class="text-muted">&copy; 2016 Recover: Matthew Meyer and Luke Reichold -
            <a href="{{ url_for('static', filename='doc/index.html') }}">View Documentation</a>
        </p>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
