{% if alerts|length > 0 %}
    <div class="panel panel-warning">
    <div class="panel-heading accordion" data-toggle="collapse" data-target="#alerts">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#alerts"><span class="glyphicon glyphicon-flag"></span>
                Unread Alerts
                 <span id="alert-count" class="badge">{{ alerts|length }}</span>
            </a>
            <span class="glyphicon glyphicon-chevron-down pull-right"></span>
        </h4>
    </div>
    <div id="alerts" class="panel-collapse collapse">
        <ul id="alerts-list" class="list-group">
            {% for alert in alerts %}
                <li id="{{ alert.id }}" class="list-group-item">
                    <a id="single-alert" href="#" onclick="mapAlert('{{ alert.incident_time }}', {{ alert.incident_length }})">
                        {{ alert }}
                    </a>
                    <a href="#" id="remove-alert"><span class="glyphicon glyphicon-trash pull-right"></span></a>
                </li>
            {% endfor %}
        </ul>
        <div class="panel-footer container-fluid">
            <button id="clear-all-alerts" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span>
                Clear all alerts
            </button>
        </div>
    </div>
</div>
{% else %}
    <div class="panel panel-success">
    <div class="panel-heading" data-toggle="collapse" data-target="#alerts">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-ok"></span> No Unread Alerts
        </h4>
    </div>
    </div>
{% endif %}


<script type="text/javascript">

    function decrementAlertBadge() {
        var count = parseInt($("span#alert-count").text());
        --count;
        $("span#alert-count").text(count.toString());
    }

    $(document).ready(function() {

        // Mark individual alert as unread
        $("a#remove-alert").click(function(event) {
            var id = $(event.target).parent().parent().attr('id');

            $.ajax({
                type: "POST",
                url: "/mark-alert-read",
                data: { 'id' : id },
                success: function(resp) {
                    if (resp.status == 200) {
                        $(event.target).parent().parent().remove();
                        decrementAlertBadge();
                    } else {
                        console.log("Error in marking alert as read in Patient Profile.")
                    }
                },
                error: function() {
                    console.log("Error in marking alert as read in Patient Profile.")
                }
            });
        });

        // Mark all alerts as unread
        $("button#clear-all-alerts").click(function(event) {

            $('ul#alerts-list').children('li').each(function () {
                var alert_element = $(this);
                var alert_id = alert_element.attr('id');

                $.ajax({
                    type: "POST",
                    url: "/mark-alert-read",
                    data: {'id' : alert_id},
                    success: function(resp) {
                        if (resp.status == 200) {
                            alert_element.remove();
                            decrementAlertBadge();
                        } else {
                            console.log("Error in marking alert as read in Patient Profile.")
                        }
                    },
                    error: function() {
                        console.log("Error in marking alert as read in Patient Profile.")
                    }
                });
            });
        });
    });

</script>
