{% extends "base-bland.html" %}

<!-- Partial view for User Registration page -->

{% block title %}Register Account{% endblock %}

{% block content %}

    <div class="page-header">
        <h1><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Register a Physician Account</h1>
    </div>

    <div class="row clearfix">
        <div class="col-md-6 column">

            {% from "_formhelpers.html" import render_field %}
            <form class="form" method="post" action="/register/">
                {{ render_field(form.username) }}
                {{ render_field(form.full_name) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm) }}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>

        </div>
    </div>

{% endblock %}
